<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="chat.js"></script>

</head>
<body>

<input type="button" value="whoami" onclick="whoami()">
<input type="button" value="allusers" onclick="allusers()">

<table width="100%" border="1px solid">
    <tr>
        <td width="25%">
            <h3>Usuarios</h3>
            <div>
                <label id="cu_username"></label>
                <br/>
                <label id="cu_name"></label>
                <br>
                <p id="cu_id"></p>
            </div>
            <div id="allusers">

            </div>

        </td>
        <td width="75%">
            <h3>Mensajes</h3>
            <div class="mensajes" id="mensajes"></div>
            <div class="text" id="text_padre">
                <input type="text" placeholder="Mensaje" id="texto">
                <button type="button" id="Enviar">Enviar</button>
            </div>
        </td>
    </tr>
</table>

</body>
</html>